[init]
	defaultBranch = main
[user]
	name = Graham Wetzler
	email = graham@wetzler.dev
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIWOLAGP8OujXmWRizvOZe8qyYp6qxKAUDWtnw5Y6zbe
[alias]
	s = status -sb
	sw = switch
	ll = log --oneline
	last = log -1 HEAD --stat
	rv = remote -v
	gl = config --global -l
	se = !git rev-list --all | xargs git grep -F
	cm = commit -m
  cma = commit -am
	d = diff --name-only main...
  p = push
[core]
	excludesFile = ~/.gitignore
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[tag]
	gpgsign = true
