[user]
	name = Graham Wetzler
	email = graham@wetzler.dev
[core]
	excludesfile = /Users/graham/.gitignore_global
[credential]
	helper = osxkeychain
[init]
	defaultBranch = main
[alias]
	s = status
	c = commit
	unstage = reset HEAD --
	a = add
	tree = log --graph --oneline --all
